body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
p,
blockquote,
dd {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
